.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.autocomplete{
  position: relative;
  display: inline-block;
}
.autoText{
  height: 2rem;
  width: 10rem;
  background-color: white;
  color: black;
  list-style-type: none;
  font-size: 13px;
  padding: 5px;
}
li:hover {
  background-color: #e4e3e3; 
  cursor: pointer;
}
#input{
  padding: 0px;
  margin:10px;
  margin-top:0px;
  position: absolute;
}